<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Brand/Home link -->
      <a class="navbar-brand" [routerLink]="['/']">Inicio</a>
      
      <!-- Toggle button for mobile view -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/empresas']">Editar empresa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/servicios']">Crear Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/vuelos']">Agregar Vuelo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>